
ISBM Temp Sensor - Pi/.vs/ISBM Temp Sensor - Pi/v16/.suo
ISBM Temp Sensor - Pi/.vs/ISBM Temp Sensor - Pi/v16/.suo
ISBM Temp Sensor - Pi/.vs/ISBM Temp Sensor - Pi/v16/Server/sqlite3/db.lock
ISBM Temp Sensor - Pi/.vs/ISBM Temp Sensor - Pi/v16/Server/sqlite3/storage.ide
ISBM Temp Sensor - Pi/bin/ARM/Debug/App.xbf
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/App.xbf
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/AppxManifest.xml
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/GearWhite-250.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/LockScreenLogo.scale-200.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/SplashScreen.scale-200.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/Square150x150Logo.scale-200.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/Square44x44Logo.scale-200.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/StoreLogo.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/SyncMeasurements.json
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/Wide310x150Logo.scale-200.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/entrypoint/ISBM Temp Sensor.exe
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/ISBM Temp Sensor.exe
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/ISBM Temp Sensor.xr.xml
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/MainPage.xbf
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Microsoft.UI.Xaml.Markup.winmd
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Newtonsoft.Json.dll
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Properties/Default.rd.xml
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/resources.pri
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/System.Runtime.dll
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/vs.appxrecipe
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/WinMetadata/Windows.winmd
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppxManifest.xml
ISBM Temp Sensor - Pi/bin/ARM/Debug/Assets/SyncMeasurements.json
ISBM Temp Sensor - Pi/bin/ARM/Debug/Core/AppxManifest.xml
ISBM Temp Sensor - Pi/bin/ARM/Debug/Core/ISBM Temp Sensor.exe
ISBM Temp Sensor - Pi/bin/ARM/Debug/ISBM Temp Sensor - Pi.build.appxrecipe
ISBM Temp Sensor - Pi/bin/ARM/Debug/ISBM Temp Sensor.exe
ISBM Temp Sensor - Pi/bin/ARM/Debug/ISBM Temp Sensor.pdb
ISBM Temp Sensor - Pi/bin/ARM/Debug/ISBM Temp Sensor.xr.xml
ISBM Temp Sensor - Pi/bin/ARM/Debug/MainPage.xbf
ISBM Temp Sensor - Pi/bin/ARM/Debug/Microsoft.UI.Xaml.Markup.winmd
ISBM Temp Sensor - Pi/bin/ARM/Debug/Newtonsoft.Json.dll
ISBM Temp Sensor - Pi/bin/ARM/Debug/resources.pri
ISBM Temp Sensor - Pi/bin/ARM/Debug/System.Runtime.dll
ISBM Temp Sensor - Pi/obj/ARM/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
ISBM Temp Sensor - Pi/obj/ARM/Debug/.winmd_cache/$Microsoft.UI.Xaml.Markup.winmd_636885454160000000.json
ISBM Temp Sensor - Pi/obj/ARM/Debug/App.g.cs
ISBM Temp Sensor - Pi/obj/ARM/Debug/App.g.i.cs
ISBM Temp Sensor - Pi/obj/ARM/Debug/App.xaml
ISBM Temp Sensor - Pi/obj/ARM/Debug/App.xbf
ISBM Temp Sensor - Pi/obj/ARM/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ISBM Temp Sensor - Pi/obj/ARM/Debug/embed/embed.resfiles
ISBM Temp Sensor - Pi/obj/ARM/Debug/embed/embed.resfiles.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/excluded.layout.resfiles
ISBM Temp Sensor - Pi/obj/ARM/Debug/excluded.layout.resfiles.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/filtered.layout.resfiles
ISBM Temp Sensor - Pi/obj/ARM/Debug/filtered.layout.resfiles.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/intermediatexaml/ISBM Temp Sensor.exe
ISBM Temp Sensor - Pi/obj/ARM/Debug/intermediatexaml/ISBM Temp Sensor.pdb
ISBM Temp Sensor - Pi/obj/ARM/Debug/ISBM Temp Sensor - Pi.csproj.CopyComplete
ISBM Temp Sensor - Pi/obj/ARM/Debug/ISBM Temp Sensor - Pi.csproj.CoreCompileInputs.cache
ISBM Temp Sensor - Pi/obj/ARM/Debug/ISBM Temp Sensor - Pi.csproj.FileListAbsolute.txt
ISBM Temp Sensor - Pi/obj/ARM/Debug/ISBM Temp Sensor - Pi.csprojAssemblyReference.cache
ISBM Temp Sensor - Pi/obj/ARM/Debug/ISBM Temp Sensor.exe
ISBM Temp Sensor - Pi/obj/ARM/Debug/ISBM Temp Sensor.pdb
ISBM Temp Sensor - Pi/obj/ARM/Debug/ISBM Temp Sensor.xr.xml
ISBM Temp Sensor - Pi/obj/ARM/Debug/MainPage.g.cs
ISBM Temp Sensor - Pi/obj/ARM/Debug/MainPage.g.i.cs
ISBM Temp Sensor - Pi/obj/ARM/Debug/MainPage.xaml
ISBM Temp Sensor - Pi/obj/ARM/Debug/MainPage.xbf
ISBM Temp Sensor - Pi/obj/ARM/Debug/MultipleQualifiersPerDimensionFound.txt
ISBM Temp Sensor - Pi/obj/ARM/Debug/pri.resfiles
ISBM Temp Sensor - Pi/obj/ARM/Debug/pri.resfiles.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/priconfig.xml
ISBM Temp Sensor - Pi/obj/ARM/Debug/priconfig.xml.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/ProjectArchitectures.txt
ISBM Temp Sensor - Pi/obj/ARM/Debug/qualifiers.txt
ISBM Temp Sensor - Pi/obj/ARM/Debug/qualifiers.txt.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/ResourceHandlingTask.state
ISBM Temp Sensor - Pi/obj/ARM/Debug/resources.resfiles
ISBM Temp Sensor - Pi/obj/ARM/Debug/resources.resfiles.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/unfiltered.layout.resfiles
ISBM Temp Sensor - Pi/obj/ARM/Debug/unfiltered.layout.resfiles.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/XamlSaveStateFile.xml
ISBM Temp Sensor - Pi/obj/ARM/Debug/XamlTypeInfo.g.cs
ISBM Temp Sensor - Pi/obj/ISBM Temp Sensor - Pi.csproj.nuget.dgspec.json
ISBM Temp Sensor - Pi/obj/ISBM Temp Sensor - Pi.csproj.nuget.g.props
ISBM Temp Sensor - Pi/obj/ISBM Temp Sensor - Pi.csproj.nuget.g.targets
ISBM Temp Sensor - Pi/obj/project.assets.json
ISBM Temp Sensor - Pi/obj/project.nuget.cache
ISBMTempSensorNET6/.vs/ISBMTempSensorNET6/DesignTimeBuild/.dtbcache.v2
ISBMTempSensorNET6/.vs/ISBMTempSensorNET6/FileContentIndex/f2c1272c-be6e-4f24-b7c2-f70502e4232b.vsidx
ISBMTempSensorNET6/.vs/ISBMTempSensorNET6/v17/.futdcache.v2
ISBMTempSensorNET6/.vs/ISBMTempSensorNET6/v17/.suo
ISBMTempSensorNET6/.vs/ProjectEvaluation/isbmtempsensornet6.metadata.v7.bin
ISBMTempSensorNET6/.vs/ProjectEvaluation/isbmtempsensornet6.projects.v7.bin
ISBMTempSensorNET6/bin/Debug/net6.0/Configs.json
ISBMTempSensorNET6/bin/Debug/net6.0/fr-CA/UnitsNet.resources.dll
ISBMTempSensorNET6/bin/Debug/net6.0/Iot.Device.Bindings.dll
ISBMTempSensorNET6/bin/Debug/net6.0/ISBMTempSensorNET6.deps.json
ISBMTempSensorNET6/bin/Debug/net6.0/ISBMTempSensorNET6.dll
ISBMTempSensorNET6/bin/Debug/net6.0/ISBMTempSensorNET6.exe
ISBMTempSensorNET6/bin/Debug/net6.0/ISBMTempSensorNET6.pdb
ISBMTempSensorNET6/bin/Debug/net6.0/ISBMTempSensorNET6.runtimeconfig.json
ISBMTempSensorNET6/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
ISBMTempSensorNET6/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
ISBMTempSensorNET6/bin/Debug/net6.0/nb-NO/UnitsNet.resources.dll
ISBMTempSensorNET6/bin/Debug/net6.0/Newtonsoft.Json.dll
ISBMTempSensorNET6/bin/Debug/net6.0/RapidRedPanda.ISBM.ClientAdapter.dll
ISBMTempSensorNET6/bin/Debug/net6.0/ru-RU/UnitsNet.resources.dll
ISBMTempSensorNET6/bin/Debug/net6.0/runtimes/linux-arm/native/libSystem.IO.Ports.Native.so
ISBMTempSensorNET6/bin/Debug/net6.0/runtimes/linux-arm64/native/libSystem.IO.Ports.Native.so
ISBMTempSensorNET6/bin/Debug/net6.0/runtimes/linux-x64/native/libSystem.IO.Ports.Native.so
ISBMTempSensorNET6/bin/Debug/net6.0/runtimes/linux/lib/netstandard2.0/System.IO.Ports.dll
ISBMTempSensorNET6/bin/Debug/net6.0/runtimes/osx-x64/native/libSystem.IO.Ports.Native.dylib
ISBMTempSensorNET6/bin/Debug/net6.0/runtimes/osx/lib/netstandard2.0/System.IO.Ports.dll
ISBMTempSensorNET6/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
ISBMTempSensorNET6/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
ISBMTempSensorNET6/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
ISBMTempSensorNET6/bin/Debug/net6.0/runtimes/win/lib/netcoreapp2.0/System.Management.dll
ISBMTempSensorNET6/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.IO.Ports.dll
ISBMTempSensorNET6/bin/Debug/net6.0/SyncMeasurements.json
ISBMTempSensorNET6/bin/Debug/net6.0/System.CodeDom.dll
ISBMTempSensorNET6/bin/Debug/net6.0/System.Device.Gpio.dll
ISBMTempSensorNET6/bin/Debug/net6.0/System.Drawing.Common.dll
ISBMTempSensorNET6/bin/Debug/net6.0/System.IO.Pipelines.dll
ISBMTempSensorNET6/bin/Debug/net6.0/System.IO.Ports.dll
ISBMTempSensorNET6/bin/Debug/net6.0/System.Management.dll
ISBMTempSensorNET6/bin/Debug/net6.0/System.Text.Json.dll
ISBMTempSensorNET6/bin/Debug/net6.0/UnitsNet.dll
ISBMTempSensorNET6/bin/Debug/net6.0/zh-CN/UnitsNet.resources.dll
ISBMTempSensorNET6/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ISBMTempSensorNET6/obj/Debug/net6.0/apphost.exe
ISBMTempSensorNET6/obj/Debug/net6.0/ISBMTempSensorNET6.AssemblyInfo.cs
ISBMTempSensorNET6/obj/Debug/net6.0/ISBMTempSensorNET6.AssemblyInfoInputs.cache
ISBMTempSensorNET6/obj/Debug/net6.0/ISBMTempSensorNET6.assets.cache
ISBMTempSensorNET6/obj/Debug/net6.0/ISBMTempSensorNET6.csproj.AssemblyReference.cache
ISBMTempSensorNET6/obj/Debug/net6.0/ISBMTempSensorNET6.csproj.BuildWithSkipAnalyzers
ISBMTempSensorNET6/obj/Debug/net6.0/ISBMTempSensorNET6.csproj.CopyComplete
ISBMTempSensorNET6/obj/Debug/net6.0/ISBMTempSensorNET6.csproj.CoreCompileInputs.cache
ISBMTempSensorNET6/obj/Debug/net6.0/ISBMTempSensorNET6.csproj.FileListAbsolute.txt
ISBMTempSensorNET6/obj/Debug/net6.0/ISBMTempSensorNET6.dll
ISBMTempSensorNET6/obj/Debug/net6.0/ISBMTempSensorNET6.GeneratedMSBuildEditorConfig.editorconfig
ISBMTempSensorNET6/obj/Debug/net6.0/ISBMTempSensorNET6.genruntimeconfig.cache
ISBMTempSensorNET6/obj/Debug/net6.0/ISBMTempSensorNET6.GlobalUsings.g.cs
ISBMTempSensorNET6/obj/Debug/net6.0/ISBMTempSensorNET6.pdb
ISBMTempSensorNET6/obj/Debug/net6.0/ISBMTempSensorNET6.sourcelink.json
ISBMTempSensorNET6/obj/Debug/net6.0/ref/ISBMTempSensorNET6.dll
ISBMTempSensorNET6/obj/Debug/net6.0/refint/ISBMTempSensorNET6.dll
ISBMTempSensorNET6/obj/ISBMTempSensorNET6.csproj.nuget.dgspec.json
ISBMTempSensorNET6/obj/ISBMTempSensorNET6.csproj.nuget.g.props
ISBMTempSensorNET6/obj/ISBMTempSensorNET6.csproj.nuget.g.targets
ISBMTempSensorNET6/obj/project.assets.json
ISBMTempSensorNET6/obj/project.nuget.cache
