
ISBM Temp Sensor - Pi/.vs/ISBM Temp Sensor - Pi/v16/.suo
ISBM Temp Sensor - Pi/.vs/ISBM Temp Sensor - Pi/v16/.suo
ISBM Temp Sensor - Pi/.vs/ISBM Temp Sensor - Pi/v16/Server/sqlite3/db.lock
ISBM Temp Sensor - Pi/.vs/ISBM Temp Sensor - Pi/v16/Server/sqlite3/storage.ide
ISBM Temp Sensor - Pi/bin/ARM/Debug/App.xbf
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/App.xbf
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/AppxManifest.xml
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/GearWhite-250.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/LockScreenLogo.scale-200.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/SplashScreen.scale-200.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/Square150x150Logo.scale-200.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/Square44x44Logo.scale-200.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/StoreLogo.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/SyncMeasurements.json
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Assets/Wide310x150Logo.scale-200.png
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/entrypoint/ISBM Temp Sensor.exe
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/ISBM Temp Sensor.exe
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/ISBM Temp Sensor.xr.xml
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/MainPage.xbf
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Microsoft.UI.Xaml.Markup.winmd
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Newtonsoft.Json.dll
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/Properties/Default.rd.xml
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/resources.pri
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/System.Runtime.dll
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/vs.appxrecipe
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppX/WinMetadata/Windows.winmd
ISBM Temp Sensor - Pi/bin/ARM/Debug/AppxManifest.xml
ISBM Temp Sensor - Pi/bin/ARM/Debug/Assets/SyncMeasurements.json
ISBM Temp Sensor - Pi/bin/ARM/Debug/Core/AppxManifest.xml
ISBM Temp Sensor - Pi/bin/ARM/Debug/Core/ISBM Temp Sensor.exe
ISBM Temp Sensor - Pi/bin/ARM/Debug/ISBM Temp Sensor - Pi.build.appxrecipe
ISBM Temp Sensor - Pi/bin/ARM/Debug/ISBM Temp Sensor.exe
ISBM Temp Sensor - Pi/bin/ARM/Debug/ISBM Temp Sensor.pdb
ISBM Temp Sensor - Pi/bin/ARM/Debug/ISBM Temp Sensor.xr.xml
ISBM Temp Sensor - Pi/bin/ARM/Debug/MainPage.xbf
ISBM Temp Sensor - Pi/bin/ARM/Debug/Microsoft.UI.Xaml.Markup.winmd
ISBM Temp Sensor - Pi/bin/ARM/Debug/Newtonsoft.Json.dll
ISBM Temp Sensor - Pi/bin/ARM/Debug/resources.pri
ISBM Temp Sensor - Pi/bin/ARM/Debug/System.Runtime.dll
ISBM Temp Sensor - Pi/obj/ARM/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
ISBM Temp Sensor - Pi/obj/ARM/Debug/.winmd_cache/$Microsoft.UI.Xaml.Markup.winmd_636885454160000000.json
ISBM Temp Sensor - Pi/obj/ARM/Debug/App.g.cs
ISBM Temp Sensor - Pi/obj/ARM/Debug/App.g.i.cs
ISBM Temp Sensor - Pi/obj/ARM/Debug/App.xaml
ISBM Temp Sensor - Pi/obj/ARM/Debug/App.xbf
ISBM Temp Sensor - Pi/obj/ARM/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ISBM Temp Sensor - Pi/obj/ARM/Debug/embed/embed.resfiles
ISBM Temp Sensor - Pi/obj/ARM/Debug/embed/embed.resfiles.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/excluded.layout.resfiles
ISBM Temp Sensor - Pi/obj/ARM/Debug/excluded.layout.resfiles.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/filtered.layout.resfiles
ISBM Temp Sensor - Pi/obj/ARM/Debug/filtered.layout.resfiles.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/intermediatexaml/ISBM Temp Sensor.exe
ISBM Temp Sensor - Pi/obj/ARM/Debug/intermediatexaml/ISBM Temp Sensor.pdb
ISBM Temp Sensor - Pi/obj/ARM/Debug/ISBM Temp Sensor - Pi.csproj.CopyComplete
ISBM Temp Sensor - Pi/obj/ARM/Debug/ISBM Temp Sensor - Pi.csproj.CoreCompileInputs.cache
ISBM Temp Sensor - Pi/obj/ARM/Debug/ISBM Temp Sensor - Pi.csproj.FileListAbsolute.txt
ISBM Temp Sensor - Pi/obj/ARM/Debug/ISBM Temp Sensor - Pi.csprojAssemblyReference.cache
ISBM Temp Sensor - Pi/obj/ARM/Debug/ISBM Temp Sensor.exe
ISBM Temp Sensor - Pi/obj/ARM/Debug/ISBM Temp Sensor.pdb
ISBM Temp Sensor - Pi/obj/ARM/Debug/ISBM Temp Sensor.xr.xml
ISBM Temp Sensor - Pi/obj/ARM/Debug/MainPage.g.cs
ISBM Temp Sensor - Pi/obj/ARM/Debug/MainPage.g.i.cs
ISBM Temp Sensor - Pi/obj/ARM/Debug/MainPage.xaml
ISBM Temp Sensor - Pi/obj/ARM/Debug/MainPage.xbf
ISBM Temp Sensor - Pi/obj/ARM/Debug/MultipleQualifiersPerDimensionFound.txt
ISBM Temp Sensor - Pi/obj/ARM/Debug/pri.resfiles
ISBM Temp Sensor - Pi/obj/ARM/Debug/pri.resfiles.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/priconfig.xml
ISBM Temp Sensor - Pi/obj/ARM/Debug/priconfig.xml.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/ProjectArchitectures.txt
ISBM Temp Sensor - Pi/obj/ARM/Debug/qualifiers.txt
ISBM Temp Sensor - Pi/obj/ARM/Debug/qualifiers.txt.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/ResourceHandlingTask.state
ISBM Temp Sensor - Pi/obj/ARM/Debug/resources.resfiles
ISBM Temp Sensor - Pi/obj/ARM/Debug/resources.resfiles.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/unfiltered.layout.resfiles
ISBM Temp Sensor - Pi/obj/ARM/Debug/unfiltered.layout.resfiles.intermediate
ISBM Temp Sensor - Pi/obj/ARM/Debug/XamlSaveStateFile.xml
ISBM Temp Sensor - Pi/obj/ARM/Debug/XamlTypeInfo.g.cs
ISBM Temp Sensor - Pi/obj/ISBM Temp Sensor - Pi.csproj.nuget.dgspec.json
ISBM Temp Sensor - Pi/obj/ISBM Temp Sensor - Pi.csproj.nuget.g.props
ISBM Temp Sensor - Pi/obj/ISBM Temp Sensor - Pi.csproj.nuget.g.targets
ISBM Temp Sensor - Pi/obj/project.assets.json
ISBM Temp Sensor - Pi/obj/project.nuget.cache
